# Angular specific
dist/
out-tsc/
tmp/
coverage/
e2e/test-output/
.angular/

# Node modules and dependency files
node_modules/
package-lock.json
yarn.lock

# Environment files
.env

# Angular CLI and build artefacts
.angular-cli.json
.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio
.vs/
*.suo
*.user
*.bak
*.ncb
*.opensdf
*.sdf
*.log
*.obj
*.pdb
*.aps
*.bsc
*.cache
*.com
*.ilk
*.lib
*.map
*.res
*.sbr
*.tlb
*.tlh
*.tmp
*.vcproj.*.user
*.vcxproj.*.user
*.wrk
*.builds
*.pidb
*.orig

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.winmd
*.appx
*.appxbundle
*.msi
*.msp
*.ps1
*.psm1
*.vbs
*.vbe
*.wsf
*.reg
*.cmd
*.bat
*.sh
*.exp
*.idb
*.ipch

# Packages
packages/
*.nupkg

# Temporary files
Temp/
*.tmp
*.pid
*.testsettings
*.trx
*.vspscc
*.vssscc

# Resharper
*.DotSettings.user

# Rider
.idea/

# DotNet tool files
.config/dotnet-tools.json